html {
  scroll-behavior: smooth;
}



/* Navbar styles */
.navbar {
  background-color: #0b3b00 !important;
}

.navbar-brand, .nav-link {
  color: #fff !important;
}

.navbar-brand:hover, .nav-link:hover {
  color: black !important;
}

.dropdown-menu {
  background-color: #006810 !important;
}

@media (max-width: 600px) {
  .carousel {
  display: none;
  }
}

.carousel-caption {
  background-color: rgba(0,0,0,0.5);
  width: 40%;
  margin: auto;
}

.fa-row {
  background-color: #0b3b00;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #ffffff;
}

.fab {
  font-size: 60px;
}
.fas {
  font-size: 60px;
}

.fab:hover, .fab .fab-link:hover, .fas:hover {
  color: black;
  transform: scale(1.1);
}

.fab-link {
  font-weight: bold;
  color: #ffffff;
}
.fab-link:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}




.footer-row {
  background-color: #0b3b00;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-row a {
  color: #fff
}
.footer-row a:hover {
  color: #000;
  text-decoration: none;
}


.project-videos {
  text-align: center;
  padding: 20px 0px 20px 0px; /*top right bottom left*/
}


video {
  width: 600px;
  height: 400px;
  object-fit: cover;
}


.gallery-row {
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.cropped {
  width: 300px;
  height: 300px;
}

.cropped-1 {
  object-fit: cover;
}

.cropped-2 {
  object-fit: cover;
  object-position: 10% 10%;
}

.cropped-3 {
  object-fit: cover;
  object-position: 30% 10%;
}

